In [1]:
# imports
# manipulação de dados
import pandas as pd
import numpy as np

# visualização de dados
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

# machine learning
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# configuração de warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# leitura da base
df = pd.read_csv('Walmart.csv')

In [3]:
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [4]:
df['Date'] = pd.to_datetime(df.Date, format='%d-%m-%Y')

In [5]:
df.dtypes

Store                    int64
Date            datetime64[ns]
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
dtype: object

In [6]:
type(df.Date)

pandas.core.series.Series

In [7]:
import datetime
 
# Getting todays date and time using now() of datetime
# class
current_date = datetime.datetime.now()
 
# Printing the current_date as the date object itself.
print("Original date and time object:", current_date)
 
# Using the strftime() of datetime class
# which takes the components of date as parameter
# %Y - year
# %m - month
# %d - day
# %H - Hours
# %M - Minutes
# %S - Seconds
print("Date and Time in Integer Format:",
      int(current_date.strftime("%Y%m%d%H%M%S")))

Original date and time object: 2022-10-25 16:05:54.928166
Date and Time in Integer Format: 20221025160554

In [12]:
import datetime
# Função para converter data para integer
def ajustar_data( Data ):
    """
    Função para converter Data em Integer
    """
    data_formatada = int(Data.strftime("%d%m%Y"))
    
    return data_formatada

In [13]:
# apply - executa uma função em toda a coluna
df['Data_formatada'] = df['Date'].apply( ajustar_data )

In [14]:
df['Data_formatada']

0        5022010
1       12022010
2       19022010
3       26022010
4        5032010
          ...
6430    28092012
6431     5102012
6432    12102012
6433    19102012
6434    26102012
Name: Data_formatada, Length: 6435, dtype: int64